body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Fundo branco */
    color: #333; /* Cor do texto padrão */
}

header {
    background-color: #49000C; /* Vermelho para o cabeçalho */
    color: white; /* Texto em branco */
    padding: 20px 0;
    text-align: center;
}

#calendar {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff; /* Fundo branco */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin: 10px 0;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.day {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s;
}

.vaccine-day {
    background-color: #28a745; /* Verde para dias de vacina */
    color: white; /* Texto em branco */
}

.day:hover {
    background-color: #f0f0f0; /* Efeito ao passar o mouse */
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    background-color: #00332A; /* Verde para os botões */
    color: white; /* Texto em branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #218838; /* Verde escuro ao passar o mouse */
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgb(0,0,0); /* Fundo preto */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #49000C; /* Vermelho para o rodapé */
    color: white; /* Texto em branco */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons i {
    margin: 0 10px; /* Espaço entre os ícones */
    color: white; /* Cor dos ícones */
    transition: color 0.3s;
}

.footer-icons i:hover {
    color: #FAD8AA; /* Cor ao passar o mouse nos ícones */
}
